.component {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
}

.name {
  color: darkSlateGray;
}

ul.component-list {
  display: flex;
  flex-wrap: wrap;
}

li.component-item {
  display: inline;
}

.navLink {
    display: inline;
}

body {
    height: 125vh;
    font-family: sans-serif;
    background-color: yellow;
}
#root {
  margin-top: 80px;
  padding: 30px;
}

.main-image{
  width:100%;
  height:100%;
}
header {
    background-color: #0a0591;
    color: yellow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}
header * {
    display: inline;
}
header img {
  height: 80px;
margin-left: 40px;
}
header li {
    margin: 20px;
}

a {
    color: yellow;
}

.singlePirate {
  display: flex;
  justify-content: center;
}
